
body{
	font-family: 'Poiret One', cursive;
	margin: 0;
}
/*navigation*/

.navbar{
	background-color: darkorange;
	height: 85px;



}

.navbar .logo{
	color: #fff;
	float: left;
	font-size: 35px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 15px;
	padding: 15px 35px 35px 35px;
	margin-left: 35px;
}

/*navigation*/


.navbar ul {

	float: right;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 35px 15px 15px;
	margin-top: 20px;

}

.navbar li {
	display: inline-block;
}

.navbar a {
	color: #fff;
	margin-right: 35px;
	text-decoration: none;
	text-transform: uppercase;
}





.jumbotron {
	background-color: white;
	height: 1000px;
}





.img {
	display: inline-block;
	margin: 25px 0;
	padding: 30px;
	width: auto;
}

.content {
	display: inline-block;
	font-size: 30px;
	color: orange;
	margin: 25px 0;
	padding: 30px;
	width: auto;
	text-align: left;

}

.lightblue {
	color: lightblue;
}

.orange{
	font-weight: bold;
}

.thin{
	font-weight: thin;
}

div.buttons {
	height: 200px;
	width: 200px;
	margin: 10px;
	padding: 10px 10px;
	display: inline;
}

 .quote {
 	border: none;
 	border-radius: 4px;
	background-color: darkorange;
	color: white;
}

.view {
	border: none;
	background-color: lightblue;
	border-radius: 4px;
	color: white;
}


.footer{
	background-color: lightblue;
	height: 85px;
	bottom: 0;
	position: fixed;
  	bottom:0;
  	width:100%;
}

